@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;900&display=swap');

body {
  background: linear-gradient(to bottom,#484848, #000000);
} 

.logo {
  display: flex;
  align-content: center;
  width: 21rem;
  height: 23rem;
}

.header-container {
  background-color: #FA2A44;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}

.login-container {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-fee8c.appspot.com/o/Im%C3%A1genes%20Men%C3%BA%2Fbackground.png?alt=media&token=f6a45c64-e471-4248-9f09-6e001a999f5b');
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 2rem;
}

.btn-primary:hover {
  background-color: #FA2A44;
  border-color: #FA2A44;
}

Form{
  display: flex;
  flex-direction: column;
}



.clientInfo, .tableInfo {
  height: 2.625rem;
  width: 21.625rem;
}

.add-btn {
  background-color: #CB0019;
  color: #ffffff;
  width: 6rem;
  height: 2.625rem;
  border-color: transparent;
}

.return-btn {
  font-family: raleway;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}

 .btn-secondary {
  color: #fff;
  background-color: #CB0019;
  border-color: #CB0019;
  border-radius: 1.87rem;
  font-size: 1.68rem;
  font-weight: 900;
  font-style: normal;
  /* padding: 1rem 1rem; */
  width: 14.6rem;
  height: 4rem;
  margin: 1rem;

}

.btn-secondary:hover {
  background-color:#ffffff;
  color: #CB0019;
}

.waiter-container {
  display: flex;
  margin: 3rem;
  justify-content: space-between;
}

.menu-box {
  justify-content:center;
}

.lunch{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.lunch-container {
  display:flex;
  /* flex-direction: column;
  align-items: center; */
}

ul {
  list-style:none
}

.foodName {
  font-weight: bold;
  padding: 1rem;
}

.order-container {
  width: 40%;
  display: flex;
  
}

.drinks-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.order-list {
  border-color:floralwhite;
  border-radius: 1.25rem;
  width: 60%;
  height: auto;
  background-color: floralwhite;
}

.product-name {
  font-weight: bold;
}

/* lo que fui modificando, a order-list le cambie widht a 55%

en el div de pedido */

.element-list{ 
  margin: 2rem;
  font-size: 1.5rem;
}

h1{
  margin-left: 2rem;
  text-align-last: center;
}

.foodName{
  background-color: cornsilk;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.style-buttonLunch{
  background-color: #FA2A44;
  border-radius: 0.5rem;
  color: cornsilk;
}

.kitchen-container {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-fee8c.appspot.com/o/Im%C3%A1genes%20Men%C3%BA%2Fbackground-kitchen.png?alt=media&token=80ade2ed-380f-42ff-8a92-9cd8a2848588');
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxMenu{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}